@tailwind base;
@tailwind components;
@tailwind utilities;


h3, p
{
  padding:5px;
}

a
{
cursor: pointer;
}

hr.new1
{
  border: 1px solid #14353C;
}
.zentrieren
{
  margin:auto;
}

.sprung
{
  visibility:hidden;
  height:0px !important;
  position:absolute;
  margin: -100px;
}

.line 
{
  white-space: pre-line;
}

.tab
{
  text-align: left;
}

.grid 
{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.abstand_unten
{
  margin-bottom: 300px;
}

.klein_abstand_unten
{
  margin-bottom: 50px;
}

.abstand_unten_klein
{
  margin-bottom: 50px;
}

#stempelbild:hover
{
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(2);
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari and Chrome */
  z-index: 10;
  margin-bottom: 200px;
}

.abstand_oben
{
  margin-top: 100px;
}

.abstand_links
{
  margin-left: 50px;
}

.anordnung
{
  z-index:0;
}

#header
{
  position: fixed;
  top:73px;
  margin-left: -50%;
}

#header_neu
{
  position: fixed;
  top:-225px;
  margin-left: -50%;
}

#main
{
  margin-top: 260px;
}


#footer
{
  position: fixed;
  bottom:0px;
  margin-bottom: 0px;
}

.img1, .img6,.img9,.img11
{
  position: absolute;
  width:100px;
  height:100px;
  z-index:0;
  filter:brightness(200%);
}


.img2,.img3,.img4,.img5, .img7, .img8,.img12, .img10, .img13
{
  position: absolute;
  width:100px;
  height:100px;
  z-index:0;
  filter:brightness(100%);
}

.img1:hover,.img6:hover,.img9:hover, .img11:hover
{
  filter:brightness(300%);
}

.img2:hover,.img3:hover,.img4:hover,.img5:hover, .img7:hover, .img8:hover, .img10:hover, .img12:hover,.img13:hover
{
  filter:brightness(200%);
}

/* Microservice */
.img1
{
  margin-top: 5%;
  margin-left: 5%;
}

/* Telefon */
.img2
{
  margin-top: -10%;
  margin-left: 5%;
}

/* Webstore */
.img3
{
  margin-top:-8%;
  margin-left: -2%;
}

/* Shop */
.img4
{
  margin-top: -8%;
  margin-left: 13%;
}

/* E-Mail */
.img5
{
  margin-top: -3%;
  margin-left: -7%;
}

/* Computer */
.img6
{
  margin-top: -1%;
  margin-left: 19%;
}

/* Maschine */
.img7
{
  margin-top: 19%; 
  margin-left: 14%; 
}

/* Montage */
.img8
{
  margin-top: 13%;
  margin-left: 20%;
}

/* Transporter */
.img9
{
  margin-top: 7%;
  margin-left: 22%;
}

/* Designer */
.img10
{
  margin-top: 12%; 
  margin-left: -10%; 
}

/* Auftrag */
.img11
  {
  margin-top: 4%; 
  margin-left: -10%; 
  }

/* Nesting */
.img12
{
  margin-top: 20%; 
  margin-left: -2%; 
}

 /* Lager */
.img13
{
  margin-top: 20%; 
  margin-left: 5%; 
}


.pfeil1, .pfeil2, .pfeil3, .pfeil4, .pfeil5, .pfeil6
{
  position:absolute;
  width:25px;
  height:25px;
}

.pfeil1
{
  top:-2%;
  left:38%;
}

   
.pfeil2
{
  top:14%;
  left:5%;
}

.pfeil3
{
  top:44%;
  left:61%;
}

.pfeil4
{
  top:13%;
  left:30%;
}

.pfeil5
{
  top:24%;
  left:61%;
}

.pfeil6
{
  top:56%;
  left:15%;
}


.img_unten
{
  position: absolute;
  margin-top: 20%;
  margin-left: 0%;
}


#designerbild
{
  background-image: url("../app/bilder/Designer.png");
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1000px;
  height: 650px;
  margin-top: 5%;
  margin-left: -8%;
}


#screen
{
  position: absolute;
  background-image: url("../app/bilder/cy_screen_dark.png");
  background-size: contain;
  background-repeat: no-repeat;
  width:882px;
  height:584px;
  margin-top: -5%;
  margin-left: -25%;
}

#screen:hover
{
  background-image: url("../app/bilder/cy_screen.png");
}


.gif
{
  background-image: url("../app/bilder/galaxy.gif");
  margin-left: -100%;
  width:1200px;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#nesting-card1, #nesting-card2, #nesting-card3
{
  margin-left: -50%;
}

/* Listen-Punkte */
.punkt-container
{
  margin:10px;
  float:left;
  width:10px;
  height:10px;
  margin-bottom:120px;
  border-radius: 10px;
  background-color: #2695a0;
}

.card-container
{
  position: absolute;
  margin-left: -30%;
  margin-top: 50%;
}

/* HTML-Canvas Sterne */
#outerspace
{
  border: 1px solid #111;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 10px #3339);
  margin-top: -10%;
  margin-left: -50%;
}

.nesting_text, .gpe_text
{
  width:1000px;
  margin-left:-40%;
  margin-bottom:5%;
}

.graph-position
{
  margin-left:25%;
}
   

@media screen and (max-width: 800px)
{

  #home_bg
  {
    margin-top: -75px;
  }


  .sm-links
  {
    left:-10%;
  }

  #designerbild
  {
   width: 600px;
   height: 390px;
   margin-top: 15%;
   margin-left: -0%;
  }

  #cydesigner
  {
    width: 500px;
    height: 325px;
    margin-top: 1%;
    margin-left: -45%;
  }
    
  #nesting-card1, #nesting-card2, #nesting-card3
  {
    margin-left: 10%;
  }

  .pfeil1
  {
   top:-4%;
   left:43%;
  }

  .pfeil2
  {
   top:12%;
   left:5%;
  }

  .pfeil3
  {
   top:44%;
   left:66%;
  }

  .pfeil4
  {
   top:13%;
   left:30%;
  }

  .pfeil5
  {
   top:24%;
   left:66%;
  }

  .pfeil6
  {
   top:56%;
   left:15%;
  }

  .nach_links
  {
    margin-left:-5%;
  }

  .nesting_text, .gpe_text
  {
    width:1000px;
    margin-left:-40%;
    margin-bottom:5%;
  }


}
  

@media screen and (max-width:810px) {

  #screen
  {
   position: absolute;
   background-image: url("../app/bilder/cy_screen_dark.png");
   background-size: contain;
   background-repeat: no-repeat;
   width:441px;
   height:292px;
   margin-top:1% ;
   margin-left: -25%;
  }

  .graph-position
  {
    margin-left:40%;
  }

  /* Microservice */
  .img1
  {
    margin-top: -5%;
    margin-left: 7%;
    width:70px;
  }

  .modal_klein_img1
  {
    top:-40px;
    left:-10px;
  }

  /* Telefon */
  .img2
  {
    margin-top: -40%;
    margin-left: 9%;
    width:50px;
  }

  .modal_klein_img2
  {
    top:-35px;
    left:-12px;
  }

  /* Webstore */
  .img3
  {
    margin-top:-35%;
    margin-left: -10%;
    width:50px;
  }

  .modal_klein_img3
  {
    top:-25px;
    left:-15px;
  }

  /* Shop */
  .img4
  {
    margin-top: -40%;
    margin-left: 23%;
    width:70px;
  }

  .modal_klein_img4
  {
    top:-25px;
    left:-15px;
  }

  /* E-Mail */
  .img5
  {
    margin-top: -21%;
    margin-left: -20%;
    width:50px;
  }

  .modal_klein_img5
  {
    top:-15px;
    left:-10px;
  }

  /* Computer */
  .img6
  {
    margin-top: -20%;
    margin-left: 33%;
    width:70px;
  }

  .modal_klein_img6
  {
    top:-20px;
    left:-15px;
  }

  /* Maschine */
  .img7
  {
    margin-top: 30%; 
    margin-left: 26%; 
    width:50px;
  }

  .modal_klein_img7
  {
    top:-25px;
    left:-15px;
  }

   /* Montage */
   .img8
   {
     margin-top: 12%;
     margin-left: 38%;
     width:70px;
   }

   .modal_klein_img8
   {
     top:-22px;
     left:-10px;
   }

  /* Transporter */
  .img9
  {
    margin-top: -2%;
    margin-left: 40%;
    width:70px;
  }

  .modal_klein_img9
  {
    top:-12px;
    left:-5px;
  }

  /* Designer */
  .img10
  {
    margin-top: 14%; 
    margin-left: -23%; 
    width:60px;
  }

  .modal_klein_img10
  {
    top:-40px;
    left:-15px;
  }

  /* Auftrag */
  .img11
  {
    margin-top: -5%;
    margin-left: -25%;
    width:40px;
  }

  .modal_klein_img11
  {
    top:-22px;
    left:-10px;
  }

  /* Nesting */
  .img12
  {
    margin-top: 32%;
    margin-left: -10%;
    width:40px;
  }

  .modal_klein_img12
  {
    top:-22px;
    left:-10px;
  }

  /* Lager */
  .img13
  {
    margin-top: 32%;
    margin-left: 7%; 
    width:50px;
  }

  .modal_klein_img13
  {
    top:-25px;
    left:-10px;
  }

  .img_unten
  {
    margin-top: 45%;
    margin-left: 0% ;
  }

  .abstand_oben
  {
    margin-top: 0px;
  }

    .card-container
  {
    position: absolute;
    left: 35%;
    top: 40%;
  }

  .nesting_text, .gpe_text
  {
    width:450px;
    margin-left:8%;
    margin-bottom:5%;
  }

}

