@tailwind base;
@tailwind components;
@tailwind utilities;


h3, p
{
  padding:5px;
}

a
{
cursor: pointer;
}

hr.new1
{
  border: 1px solid #14353C;
}
.zentrieren
{
  margin:auto;
}

.sprung
{
  visibility:hidden;
  height:0px !important;
  position:absolute;
  margin: -100px;
}

.line 
{
  white-space: pre-line;
}

.tab
{
  text-align: left;
}

.grid 
{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.abstand_unten
{
  margin-bottom: 300px;
}

.klein_abstand_unten
{
  margin-bottom: 50px;
}

.abstand_unten_klein
{
  margin-bottom: 50px;
}

#stempelbild:hover
{
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(2);
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari and Chrome */
  z-index: 10;
  margin-bottom: 200px;
}

.abstand_oben
{
  margin-top: 100px;
}

.abstand_links
{
  margin-left: 50px;
}

.anordnung
{
  z-index:0;
}

#header
{
  position: fixed;
  top:73px;
  margin-left: -50%;
}

#header_neu
{
  position: fixed;
  top:-225px;
  margin-left: -50%;
}

.home_titel
{
z-index: 1;
margin-left:-10%;
}

#main
{
  margin-top: 260px;
}


#footer
{
  position: fixed;
  bottom:0px;
  margin-bottom: 0px;
}

.pfeil_gpe
{
  position:absolute;
  margin-top:0px;
  margin-left:5%;
  width:350px;
  height:350px;
  z-index:0;
  background-image: url("../public/big_arrow.png");
  background-size:contain;
  background-repeat: no-repeat;
}


.img1, .img6,.img9,.img11
{
  position: absolute;
  width:100px;
  height:100px;
  z-index:0;
  filter:brightness(200%);
}


.img2,.img3,.img4,.img5, .img7, .img8,.img12, .img10, .img13
{
  position: absolute;
  width:100px;
  height:100px;
  z-index:0;
  filter:brightness(100%);
}

.img1:hover,.img6:hover,.img9:hover, .img11:hover
{
  filter:brightness(300%);
}

.img2:hover,.img3:hover,.img4:hover,.img5:hover, .img7:hover, .img8:hover, .img10:hover, .img12:hover,.img13:hover
{
  filter:brightness(200%);
}

/* GPE-Basis */
.img1
{
  margin-top: 5%;
  margin-left: 11%;
}

/* Telefon */
.img2
{
  margin-top: -8%;
  margin-left: 18%;
}

/* Webstore */
.img3
{
  margin-top:-3%;
  margin-left: -2%;
}

/* Shop */
.img4
{
  margin-top: -8%;
  margin-left: 3%;
}

/* E-Mail */
.img5
{
  margin-top: -8%;
  margin-left: 11%;
}

/* Computer */
.img6
{
  margin-top: -1%;
  margin-left: 24%;
}

/* Maschine */
.img7
{
  margin-top: 19%; 
  margin-left: 19%; 
}

/* Montage */
.img8
{
  margin-top: 13%;
  margin-left: 25%;
}

/* Transporter */
.img9
{
  margin-top: 7%;
  margin-left: 27%;
}

/* Designer */
.img10
{
  margin-top: 12%; 
  margin-left: -5%; 
}

/* Auftrag */
.img11
  {
  margin-top: 4%; 
  margin-left: -5%; 
  }

/* Nesting */
.img12
{
  margin-top: 20%; 
  margin-left: 3%; 
}

 /* Lager */
.img13
{
  margin-top: 20%; 
  margin-left: 10%; 
}


.pfeil1, .pfeil2, .pfeil3, .pfeil4, .pfeil5, .pfeil6
{
  position:absolute;
  width:25px;
  height:25px;
}

.pfeil1
{
  top:-2%;
  left:38%;
}

#pfeil1
{
  top:-1%;
  left:33%;
}

   
.pfeil2
{
  top:14%;
  left:5%;
}

#pfeil2
{
  top:16%;
  left:4%;
}


.pfeil3
{
  top:44%;
  left:61%;
}

#pfeil3
{
  top:47%;
  left:56%;
}

.pfeil4
{
  top:13%;
  left:30%;
}

#pfeil4
{
  top:16%;
  left:29%;
}

.pfeil5
{
  top:24%;
  left:61%;
}

#pfeil5
{
  top:27%;
  left:56%;
}

.pfeil6
{
  top:56%;
  left:15%;
}

#pfeil6
{
  top:59%;
  left:14%;
}


.img_unten
{
  position: absolute;
  margin-top: 20%;
  margin-left: 0%;
}


#designerbild
{
  background-image: url("../public/Designer.png");
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1000px;
  height: 650px;
  margin-top: 5%;
  margin-left: -8%;
}


#screen
{
  position: absolute;
  background-image: url("../public/cy_screen_dark.png");
  background-size: contain;
  background-repeat: no-repeat;
  width:882px;
  height:584px;
  margin-top: -5%;
  margin-left: -25%;
}

#screen:hover
{
  background-image: url("../public/cy_screen.png");
}


.gif
{
  background-image: url("../public/galaxy.gif");
  margin-left: -100%;
  width:1200px;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#nesting-card1, #nesting-card2, #nesting-card3
{
  margin-left: -50%;
}

/* Listen-Punkte */
.punkt-container
{
  margin:10px;
  float:left;
  width:10px;
  height:10px;
  margin-bottom:120px;
  border-radius: 10px;
  background-color: #2695a0;
}

.card-container
{
  position: absolute;
  margin-left: -20%;
  margin-top: 50%;
}

/* HTML-Canvas Sterne */
#outerspace
{
  border: 1px solid #111;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 10px #3339);
  margin-top: -10%;
  margin-left: -50%;
}

.nesting_text
{
  width:1000px;
  margin-left:-40%;
  margin-bottom:5%;
}

..gpe_text
{
  width:1000px;
  margin-left:-5%;
  margin-bottom:5%;
}


.graph-position
{
  margin-left:25%;
}
   

#magento
{
position:relative;
margin-top:25%;
margin-left:0%;
}

#next
{
position:relative;
margin-top:45%;
margin-left:0%;
}

.bannerbackground
{
  background-image: url("../public/banner2.png");
  background-size: cover;
  background-repeat: no-repeat;

}

@media screen and (max-width: 800px)
{

  #home_bg
  {
    margin-top: -75px;
  }


  .sm-links
  {
    left:-10%;
  }

  #designerbild
  {
   width: 550px;
   height: 298px;
   margin-top: 20%;
   margin-left: 3%;
  }

  #cydesigner
  {
    width: 500px;
    height: 325px;
    margin-top: 1%;
    margin-left: -45%;
  }
    

  .pfeil1
  {
   top:-4%;
   left:43%;
  }

  #pfeil1
  {
    top:-4%;
    left:31%;
  }

  .pfeil2
  {
   top:12%;
   left:5%;
  }

  #pfeil2
  {
    top:16%;
    left:4%;
  }

  .pfeil3
  {
   top:44%;
   left:66%;
  }

  #pfeil3
  {
    top:53%;
    left:54%;
  }

  .pfeil4
  {
   top:13%;
   left:30%;
  }

  #pfeil4
  {
    top:16%;
    left:29%;
  }

  .pfeil5
  {
   top:24%;
   left:66%;
  }

  #pfeil5
  {
    top:29%;
    left:54%;
  }

  .pfeil6
  {
   top:56%;
   left:15%;
  }

  #pfeil6
  {
    top:68%;
    left:14%;
  }

  .nach_links
  {
    margin-left:-5%;
  }

  .nesting_text, .gpe_text
  {
    width:1000px;
    margin-left:-40%;
    margin-bottom:5%;
  }

  #magento
  {
  position:relative;
  margin-top:25%;
  margin-left:0%;
  }

  #next
  {
  position:relative;
  margin-top:45%;
  margin-left:0%;
  }

}
  

@media screen and (max-width:810px) {

  #screen
  {
   position: absolute;
   background-image: url("../public/cy_screen_dark.png");
   background-size: contain;
   background-repeat: no-repeat;
   width:441px;
   height:292px;
   margin-top:1% ;
   margin-left: -25%;
  }

  .home_titel
  {
  z-index: 1;
  margin-left:5%;
  top:320px;
  }


  .graph-position
  {
    margin-left:40%;
  }


  .img_unten
  {
    margin-top: 45%;
    margin-left: 0% ;
  }

  .abstand_oben
  {
    margin-top: 0px;
  }

  .card-container
  {
    position: absolute;
    left: 35%;
    top: 40%;
  }

  .nesting_text
  {
    width:400px;
    margin-left:10%;
    margin-bottom:5%;
  }
  .gpe_text
  {
    width:400px;
    margin-left:4%;
    margin-bottom:5%;
  }

}

@media screen and (max-width:1280px) 
{
  .graph_bilder
  {
    margin-left:10%;
    margin-top:10%;
  }

   .pfeil_gpe
    {
      width:250px;
      height:250px;
      margin-left:10%;
    }

}

/* Tablets */
 @media only screen and (max-width: 820px) 
{

  .home_titel
  {
  z-index: 1;
  margin-left:8%;
  }

#designerbild
{
  width: 700px;
  height: 379px;
  margin-top: 15%;
  margin-left:0%;
  left:22%;
}

  .nesting_text
  {
    width:800px;  
    margin-bottom:5%;
    margin-left:-30%;
    padding-left:10%;
  }

   #nesting-card1, #nesting-card2, #nesting-card3
  {
    display:flex;
    flex-direction:row;
    min-width:800px;
    margin-left:-20%;
  }

 .gpe_text
  {
    width:800px;  
    margin-bottom:5%;
    margin-left:-30%;
    padding-left:10%;
  }

  .pfeil_gpe
  {
    width:350px;
    height:350px;
    margin-top:-10px;
    margin-left:-30px;
  }

   .graph_bilder
    {
      margin-left:5%;
    }

  /* GPE-Basis */
  .img1
  {
    margin-top: 13%;
    margin-left: 9%;
    width:70px;
  }

  .modal_klein_img1
  {
    top:-40px;
    left:-15px;
  }

  /* Telefon */
  .img2
  {
    margin-top: -18%;
    margin-left: 25%;
    width:50px;
  }

  .modal_klein_img2
  {
    top:-35px;
    left:-12px;
  }

  /* Webstore */
  .img3
  {
    margin-top:-1%;
    margin-left: -20%;
    width:50px;
  }

  .modal_klein_img3
  {
    top:-25px;
    left:-15px;
  }

  /* Shop */
  .img4
  {
    margin-top: -15%;
    margin-left: -10%;
    width:70px;
  }

  .modal_klein_img4
  {
    top:-25px;
    left:-15px;
  }

/* E-Mail */
  .img5
  {
    margin-top: -18%;
    margin-left: 9%;
    width:50px;
  }

  .modal_klein_img5
  {
    top:-15px;
    left:-10px;
  }

  /* Computer */
  .img6
  {
    margin-top: -5%;
    margin-left: 38%;
    width:70px;
  }

  .modal_klein_img6
  {
    top:-20px;
    left:-15px;
  }

  /* Maschine */
  .img7
  {
    margin-top: 48%; 
    margin-left: 30%; 
    width:50px;
  }

  .modal_klein_img7
  {
    top:-25px;
    left:-15px;
  }

   /* Montage */
   .img8
   {
     margin-top: 32%;
     margin-left: 43%;
     width:70px;
   }

   .modal_klein_img8
   {
     top:-22px;
     left:-10px;
   }

  /* Transporter */
  .img9
  {
    margin-top: 18%;
    margin-left: 45%;
    width:70px;
  }

  .modal_klein_img9
  {
    top:-12px;
    left:-5px;
  }

  /* Designer */
  .img10
  {
    margin-top: 34%; 
    margin-left: -23%; 
    width:60px;
  }

  .modal_klein_img10
  {
    top:-40px;
    left:-15px;
  }

  /* Auftrag */
  .img11
  {
    margin-top: 15%;
    margin-left: -25%;
    width:40px;
  }

  .modal_klein_img11
  {
    top:-22px;
    left:-10px;
  }

  /* Nesting */
  .img12
  {
    margin-top: 45%;
    margin-left: -10%;
    width:40px;
  }

  .modal_klein_img12
  {
    top:-22px;
    left:-10px;
  }

  /* Lager */
  .img13
  {
    margin-top: 52%;
    margin-left: 7%; 
    width:50px;
  }

  .modal_klein_img13
  {
    top:-25px;
    left:-10px;
  }

   .card-container
  {
    flex-direction:row;
    min-width:900px;
    margin-left:-22%;
  }

  .gif
  {
    margin-top:-700px;
    margin-left: 10%;
    width:600px;
    height:400px;
  }

  #magento
  {
  position:relative;
  margin-top:25%;
  margin-left:0%;
  }

  #next
  {
  position:relative;
  margin-top:45%;
  margin-left:0%;
  }

  
}



/* Große Smartphones */
@media only screen and (max-width: 576px) 
{

   #home_bg
  {
    margin-top: -150px;
  }

  .abstand_oben
  {
    margin-top: 150px;
  }

  #designerbild
  {
   max-width: 340px;
   height: 185px;
   margin-top: 25%;
   margin-left: 1%;
  }

  .gpe_text
  {
    width:400px;
    margin-left:-4%;
    margin-bottom:5%;
  }

  .img1,.img2,.img3,.img4,.img5,.img6, .img7,.img8,.img9,.img10,.img11,.img12,.img13
  {
    width:40px;
    height:40px;
  }

   .pfeil_gpe
    {
      width:150px;
      height:150px;
      margin-left:-5%;
    }

     .graph_bilder
    {
      margin-left:0%;
    }


   .img1
  {
    margin-top: 5%;
    margin-left: 8%;
    width:40px;
  }


  /* Telefon */
  .img2
  {
    margin-top: -28%;
    margin-left: 25%;
    width:40px;
  }


  /* Webstore */
  .img3
  {
    margin-top:-10%;
    margin-left: -20%;
    width:40px;
  }


  /* Shop */
  .img4
  {
    margin-top: -25%;
    margin-left: -10%;
    width:40px;
  }


/* E-Mail */
  .img5
  {
    margin-top: -28%;
    margin-left: 9%;
    width:40px;
  }


  /* Computer */
  .img6
  {
    margin-top: -15%;
    margin-left: 38%;
    width:40px;
  }


  /* Maschine */
  .img7
  {
    margin-top: 38%; 
    margin-left: 30%; 
    width:40px;
  }


   /* Montage */
   .img8
   {
     margin-top: 22%;
     margin-left: 43%;
     width:40px;
   }


  /* Transporter */
  .img9
  {
    margin-top: 8%;
    margin-left: 45%;
    width:40px;
  }


  /* Designer */
  .img10
  {
    margin-top: 24%; 
    margin-left: -23%; 
    width:40px;
  }


  /* Auftrag */
  .img11
  {
    margin-top: 5%;
    margin-left: -25%;
    width:40px;
  }

  /* Nesting */
  .img12
  {
    margin-top: 35%;
    margin-left: -10%;
    width:40px;
  }


  /* Lager */
  .img13
  {
    margin-top: 42%;
    margin-left: 7%; 
    width:40px;
  }

  .modal_klein_img1
  {
    top:-70px;
    left:-28px;
  }

  .modal_klein_img2
  {
    top:-45px;
    left:-12px;
  }

  .modal_klein_img3
  {
    top:-35px;
    left:-22px;
  }

  .modal_klein_img4
  {
    top:-55px;
    left:-30px;
  }

   .modal_klein_img5
  {
    top:-20px;
    left:-10px;
  }

  .modal_klein_img6
  {
    top:-40px;
    left:-25px;
  }

  .modal_klein_img7
  {
    top:-35px;
    left:-15px;
  }

   .modal_klein_img8
   {
     top:-42px;
     left:-20px;
   }

    .modal_klein_img9
    {
      top:-32px;
      left:-15px;
    }

     .modal_klein_img10
    {
      top:-50px;
      left:-25px;
    }

    .modal_klein_img11
    {
      top:-25px;
      left:-10px;
    }

    .modal_klein_img12
    {
      top:-22px;
      left:-10px;
    }

    .modal_klein_img13
    {
      top:-30px;
      left:-15px;
    }

    
    .card-container
    {
      flex-direction:column;
      position: absolute;
      margin-left:-50%;
      position: absolute; 
      width: 90vw; 
      max-width: 500px; 
      left: 52%;
      transform: translateX(-50%);
      margin-left: 0; 
      min-width: unset;
      
    }

     .nesting_text
    {
      width:450px;  
      margin-bottom:10%;
      margin-left:1%
    }

     #nesting-card1, #nesting-card2, #nesting-card3
    {
      display:flex;
      flex-direction:column;
      min-width:400px;
      max-width:400px;
      margin-left:7%;
    }

    .gif
    {
      margin-top:-700px;
      margin-left:-5%;
      width:400px;
      height:300px;
    }


}


/* Kleine Smartphones */
 @media only screen and (max-width: 380px) 
{

  #home_bg
  {
    margin-top: -240px;
  }

   .abstand_oben
  {
    margin-top: 200px;
  }

  #designerbild
  {
   max-width: 300px;
   height: 163px;
   margin-top: 25%;
   margin-left:5;
  }

   .gpe_text
  {
    width:400px;
    margin-left:-4%;
    margin-bottom:5%;
  }

   .img1,.img2,.img3,.img4,.img5,.img6, .img7,.img8,.img9,.img10,.img11,.img12,.img13
  {
    width:40px;
    height:40px;
  }

  .img1
  {
    margin-top: -2%;
    margin-left: 8%;
  }

  .pfeil_gpe
    {
      width:150px;
      height:150px;
      margin-left:-5%;
      margin-top:-15%;
    }

    .graph_bilder
    {
      margin-left:0%;
    }

   .img1
  {
    margin-top: -5%;
    margin-left: 8%;
    width:40px;
  }


  /* Telefon */
  .img2
  {
    margin-top: -38%;
    margin-left: 25%;
    width:40px;
  }


  /* Webstore */
  .img3
  {
    margin-top:-20%;
    margin-left: -20%;
    width:40px;
  }


  /* Shop */
  .img4
  {
    margin-top: -35%;
    margin-left: -10%;
    width:40px;
  }


/* E-Mail */
  .img5
  {
    margin-top: -38%;
    margin-left: 9%;
    width:40px;
  }


  /* Computer */
  .img6
  {
    margin-top: -25%;
    margin-left: 38%;
    width:40px;
  }


  /* Maschine */
  .img7
  {
    margin-top: 28%; 
    margin-left: 30%; 
    width:40px;
  }


   /* Montage */
   .img8
   {
     margin-top: 12%;
     margin-left: 43%;
     width:40px;
   }


  /* Transporter */
  .img9
  {
    margin-top: -2%;
    margin-left: 45%;
    width:40px;
  }


  /* Designer */
  .img10
  {
    margin-top: 14%; 
    margin-left: -23%; 
    width:40px;
  }


  /* Auftrag */
  .img11
  {
    margin-top: -5%;
    margin-left: -25%;
    width:40px;
  }

  /* Nesting */
  .img12
  {
    margin-top: 25%;
    margin-left: -10%;
    width:40px;
  }


  /* Lager */
  .img13
  {
    margin-top: 32%;
    margin-left: 7%; 
    width:40px;
  }


  .modal_klein_img1
  {
    top:-70px;
    left:-28px;
  }

  .modal_klein_img2
  {
    top:-45px;
    left:-12px;
  }

  .modal_klein_img3
  {
    top:-35px;
    left:-22px;
  }

  .modal_klein_img4
  {
    top:-55px;
    left:-30px;
  }

   .modal_klein_img5
  {
    top:-20px;
    left:-10px;
  }

  .modal_klein_img6
  {
    top:-40px;
    left:-25px;
  }

  .modal_klein_img7
  {
    top:-35px;
    left:-15px;
  }

  .modal_klein_img8
  {
    top:-42px;
    left:-20px;
  }

  .modal_klein_img9
  {
    top:-32px;
    left:-15px;
  }

  .modal_klein_img10
  {
    top:-50px;
    left:-25px;
  }

  .modal_klein_img11
  {
    top:-25px;
    left:-10px;
  }

  .modal_klein_img12
  {
    top:-22px;
    left:-10px;
  }

  .modal_klein_img13
  {
    top:-30px;
    left:-15px;
  }  
    
   .nesting_text
  {
    width:400px;  
    margin-bottom:10%;
    margin-left:10%
  }

  .card-container
  {
    flex-direction:column;
    position: absolute;
    position: absolute; 
    width: 90vw; 
    max-width: 450px; 
    left: 46%;
    transform: translateX(-50%);
    margin-left: 0; 
    min-width: unset; 
  }

  .gif
    {
      margin-top:-700px;
      margin-left:-5%;
      width:380px;
      height:280px;
    }

    .nesting_text
    {
      width:350px;  
      margin-bottom:10%;
      margin-left:0%
    }

    #nesting-card1, #nesting-card2, #nesting-card3
    {
      display:flex;
      flex-direction:column;
      min-width:350px;
      max-width:350px;
      margin-left:7%;
    }


}